@inherits LayoutComponentBase

<div class="page">
 @*   <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4" style="text-align: left">
            Banco de Dados PSA - Curitiba e RMC
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
